{% extends 'base.html' %}

{% block content %}

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/analysis/">Visuals!</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/userhome/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/usertransactions/">Transactions</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/analysis/">Analysis</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/editprofile/">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout/">Logout</a>
          </li>
        </ul>
      </div>
    </nav>

    <br>
    <a class="btn btn-success" href="/addtransaction/" role="button">Add Expense</a>
    
    <br><br>

    <h2>
      <small class="text-muted">Day wise expenses</small>
    </h2>

    {{ daywise|safe }}
    
    <br><br>
    <h2>
      <small class="text-muted">Food wise expenses</small>
    </h2>
    
    {{ foodwise|safe }}

    <br><br>
    <h2>
      <small class="text-muted">Rent wise expenses</small>
    </h2>
    
    {{ rentwise|safe }}

    <br><br>
    <h2>
      <small class="text-muted">Electricity wise expenses</small>
    </h2>
    
    {{ elecwise|safe }}

    <br><br>
    <h2>
      <small class="text-muted">Maintainence wise expenses</small>
    </h2>
    
    {{ maintainwise|safe }}

    <br><br>
    <h2>
      <small class="text-muted">Entertainment wise expenses</small>
    </h2>
    
    {{ entertainwise|safe }}

    <br><br>
    <h2>
      <small class="text-muted">Recharge wise expenses</small>
    </h2>
    
    {{ rechargewise|safe }}

    <br><br>
    <h2>
      <small class="text-muted">Education wise expenses</small>
    </h2>
    
    {{ eduwise|safe }}
    

{% endblock content %}